/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /*zinc: https://uigradients.com/#Zinc */
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    font-family: Arial, Helvetica, sans-serif;
}

/*caixa de login*/
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: max(13px, 1vw);
}
.box{
  position: absolute;
  top: 15%; /*posição do login na pagina*/
  left: 8%;
  background-color: gray;
  padding: 15px; /*distancia da borda pra fora*/
  border-radius: 7% /*arredonda a borda*/
}
fieldset{
  border: 2px solid;
}
legend{
  border:1px solid;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 18%;
  font-size: max(12px, 1vw);
}
.inputBox{
  position: relative;
}
.inputUser{
  font-size: max(15px, 1vw);
  width:98%;
  letter-spacing:2px;
  border-radius: 5px;
}
#country{
  border-radius: 5px;
  font-size: 15px;
}
.labelInput{
  position: absolute;
  font-size: max(12px, 1vw);
  left: 1%;
}
#enviar{
  background-color: white;
  padding: 10px;
  width:100%;
  border-radius: 10px;
  font-size: max(12px, 1vw);
  cursor:pointer;
}
#enviar:hover{
  background-color: beige;
}
.signup{  
  position: relative;
}
a{
  font-size: max(12px, 1vw);
  text-decoration: none;
  color: white;
}
a:hover{
  color:beige
}
/*fim da caixa de login*/

#page-name {
  font-size: max(10px, 1vw);
  text-align: center;
  font-family: 'Rouge Script', cursive;
  color: rgb(228, 85, 85);
  text-shadow: 0.1em 0.1em #333
}

#folhaLouro img {
  width: 11%;
  position: absolute;
  left: 8%;
  top: 65%;
}

#todosjuntos img {
  width: 30%;
  position: absolute;
  left: 68%;
  top: 10%;
}

#firstImage img{
    width: 30%;
    position: absolute;
    left: 35%;
    top: 10%;
}

/*separação entre style do help e feedback (help primeiro)*/
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #click{
        display:none;
      }
      .click-me{
        display: block;
        width: 100px;
        height: 50px;
        border: 1px solid #26a65b;
        background-color: rosybrown;
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        border-radius: 3px;
        cursor: pointer;
        transition: .5s;
        border-radius: 50%;
        position: absolute;
        left: 52%;
        top: 510px;
      }
      .click-me:hover{
        background: rgb(134, 96, 96);
      }
      .content{
        opacity: 0;
        visibility: hidden; 
        width: 800px; /*aqui muda o tamanho do pop up*/
        height: 500px;
        background: white;
        border-radius: 3px;
        transition: .3s ease-in;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
      }
      #click:checked ~ .content{
        opacity: 1;
        visibility: visible;
      }
      
      .header{
        height: 58px;
        background: rosybrown;
        overflow: hidden;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
        text-align: center;
      }
      .header h2{
        color: white;
        padding-left: 32px;
        font-weight: normal;
      }
      .fa-times{
        position: absolute;
        right: 20px;
        top: 20px;
        color: #e8f7fc;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
      /*.fa-check{
        font-size: 50px;
        color: #27ae60;
        font-weight: bold;
        height: 80px;
        width: 80px;
        border: 2px solid #27ae60;
        text-align: center;
        padding-top: 13px;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 30px 0 0 160px;
      }*/
      .text p{
        padding-top: 10px;
        font-size: 18px;
        color: #1a1a1a;
        text-align:center;
        margin-left: 2%;
        margin-right: 2%;
      } 
      .line{
        position: absolute;
        bottom: 65px;
        width: 100%;
        height: 1px;
        background: silver;
      }
      .close-btn{
        position: absolute;
        bottom: 12px;
        right: 25px;
        border: 1px solid #27ae60;
        border-radius: 3px;
        color: #27ae60;
        padding: 8px 10px;
        font-size: 18px;
        cursor: pointer;
      }
      .close-btn:hover{
        background: #27ae60;
        color: white;
        transition: .5s;
      } 

      /*botao feedback*/
      .content2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #click2{
        display:none;
      }
      .click-me2{
        display: block;
        width: 100px;
        height: 50px;
        border: 1px solid #26a65b;
        background-color: rosybrown;
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        border-radius: 3px;
        cursor: pointer;
        transition: .5s;
        border-radius: 50%;
        position: absolute;
        left: 44%;
        top: 510px;
        z-index: -1; /*essa merdinha aqui foi o q deu trabalho*/
      }
      .click-me2:hover{
        background: rgb(134, 96, 96);
      }
      .content2{
        opacity: 0;
        visibility: hidden; 
        width: 650px; /*aqui muda o tamanho do pop up*/
        height: 250px;
        background: white;
        border-radius: 3px;
        transition: .3s ease-in;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
      }
      #click2:checked ~ .content2{
        opacity: 1;
        visibility: visible;
      }
      .header2{
        height: 58px;
        background: rosybrown;
        overflow: hidden;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
        text-align: center;
      }
      .header2 h2{
        color: white;
        padding-left: 32px;
        font-weight: normal;
      }
      .fa-times{
        position: absolute;
        right: 20px;
        top: 20px;
        color: #e8f7fc;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
      /*.fa-check{
        font-size: 50px;
        color: #27ae60;
        font-weight: bold;
        height: 80px;
        width: 80px;
        border: 2px solid #27ae60;
        text-align: center;
        padding-top: 13px;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 30px 0 0 160px;
      }*/
      .text-feed p{
        padding-top: 10px;
        font-size: 18px;
        color: #1a1a1a;
        text-align:center;
        margin-left: 2%;
        margin-right: 2%;
      } 
      .line2{
        position: absolute;
        bottom: 65px;
        width: 100%;
        height: 1px;
        background: silver;
      }
      .close-btn2{
        position: absolute;
        bottom: 12px;
        right: 25px;
        border: 1px solid #27ae60;
        border-radius: 3px;
        color: #27ae60;
        padding: 8px 10px;
        font-size: 18px;
        cursor: pointer;
      }
      .close-btn2:hover{
        background: #27ae60;
        color: white;
        transition: .5s;
      } 


      /*
    #feedback {
        width: 65px;
        height: 65px;
        position: absolute;
        left: 44%;
        top: 510px;
        font-weight: bold;
        font-family: Calibri;
        border-radius: 50%;
        background-color: rosybrown;
    }  */

    /*#help-text {
        width: 634px;
        height: 300px;
        position: relative;
        left: 10px;
        top: 10px;
        display: none;
    }*/

#darth-vader {
    width: 45px;
    height: 77px;
    position: absolute;
    left: 808px;
    top: 330px;
    transform: rotate(180deg);
    background-image: url(../img/darth-vader.png);
    background-size: cover;
    display: none;
}

#stair {
    width: 1100px;
    height: 440px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    background-image: url('../img/stairway.png');
    background-size: cover;
    display: none;
}
#welding-knowledge {
  position: absolute;
  top: 33%;
  left: 22%;
}

#dv-speech {
    width: 220px;
    height: 80px;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-left: 20px;
    padding-top: 32px;
    padding-right: 15px;
    display: none;
}

#welder {
    width: 117px;
    height: 126px;
    position: absolute;
    left: 930px;/*67%*/
    top: 275px; /*44%*/
    background-image: url(../img/nivel1.png);
    background-size: cover;
    display: none;
    z-index: 21;
}

#welder-speech {
    width: 120px;
    height: 70px;
    position: absolute;
    left: 950px;
    top: 330px;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-top: 5px;
    padding-right: 25px;
}

#time-animation {               /* Posição para tempo ilimitado */
    width: 95px;
    height: 116px;
    position: absolute;
    top: 185px;
    left: 20%;
}

#time {
    position: absolute;
    top: 285px;
    left: 20%;
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
}

#spark {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 200px;
    left: 19%;
    background-image: url('../img/spark.gif');
    display: none;
}
#levels {
    width: 342px;
    height: 111px;
    position: absolute;
    top: 31px;
    left: 750px;
    background-image: url('../img/cassino-background-en.png');
    background-size: 100% 100%;
    display: none;
    font-family: Calibri;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-indent: 64px;
    overflow: hidden;
}

    #level_1{
    width: inherit;
    height: 22px;
    position: relative;
    top: 8px;
    }
    #level_2{
    width: inherit;
    height: 22px;
    position: relative;
    top: 21px;              /* 37px(altura retângulo) - 22px(altura div) - 2px(1 borda) + 8px(alinhamento vertical) */
    }
    #level_3{
    width: inherit;
    height: 22px;
    position: relative;
    top: 34px;              /* 2*37px(altura retângulo) - 2*22px(altura div) - 4px(2 bordas) + 8px(alinhamento vertical) */
    }
    #level_4{
    width: inherit;
    height: 22px;
    position: relative;
    bottom: 93px;           /* 4*22px(altura div) + 7px(37px - 22px - 8px) - 2px(1 borda) */
    }

#quiz-container {
    width: 1095px;
    height: 178px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 448px;
    background-color: #ffffff;
    margin: auto;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    display: none;
}

    #quiz-questions {
        width: 1087px;
        height: 50px;
        position: relative;
        left: 9px;
        top: 9px;
    }

    #quiz-answers {
        width: 1087px;
        height: 110px;        
        position: relative;
        left: 9px;
        top: 9px;        
    }

    #credits2 {
        width: auto;
        height: auto;
        font-size: 11px;
        float: right;
        margin-right: 10px;
    }

/*#credits {
    width: 1100px;
    top: 500px;
    position: relative;
    text-align: right;
    margin: auto;
    
}*/

#location {
  position: absolute;
  right: 5%;
  top: 92%;
  font-size: 1.3vw;
  color: blue;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

  #c-image1 img {
      width: 8%;
      position: absolute;
      top: 91%;
      right: 33%;
  }
  #c-image2 img {
      width: 7%;
      position: absolute;
      top: 91%;
      left: 36%;
  }
  #c-image3 img {
      width: 20%;
      position: absolute;
      top: 90%;
      left: 5%;
  }

#option-box {
    position:absolute;
    left: 650px;
    top: -25px;
    width:350px;
    height:wrap-content;
    background-color:#bcbcbc;
    border: 2px black solid;
    border-radius: 12%;
    align-content: center;
    padding: 10px;
    padding-top: 4px;
    text-align:center;
}

#option-box h3 {
    margin-top:3px;
    margin-bottom: 10px;
}

#option-box h4 {
    margin-top:5px;
}

#nameError, #universityError {
    display: none;
    color: red;
    padding-bottom: 0;
    margin-bottom: 0;
}

.lista{
    
    background-color: #efefef;
}

.listagens{
    color: black;
    text-align: center;
    font-size: 20pt;
}

.bigTotal{
    color: black;
    text-align: center;
    font-size: 42pt;
    margin-top: -12px;
}

.table-striped {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.tabelalistagens th, td {
    text-align: center;
    padding: auto;
} 
/*Nuvem*/

#nuvem1 img {
  width:10%;
  position:absolute;
  left: 60%;
  top: 25%;
  z-index: 20;
  }

#nuvem2 img {
    width:10%;
    position:absolute;
    left: 56%;
    top: 21%;
    z-index: 19;
    }

#nuvem3 img {
    width:7%;
    position:absolute;
    left: 53%;
    top: 25%;
    z-index: 18;
    }

#nuvem4 img {
      width:15%;
      position:absolute;
      left: 47%;
      top: 23%;
      z-index: 17; 
      }

#nuvem5 img {
      width:13%;
      position:absolute;
      left: 46%;
      top: 13%;
      z-index: 16; 
      }

#nuvem6 img {
      width:12%;
      position:absolute;
      left: 43%;
      top: 9%;
      z-index: 15; 
      }
      
#nuvem7 img {
  width:14%;
  position:absolute;
  left: 43%;
  top: 7%;
  z-index: 14; 
  }
  
#nuvem8 img {
  width:20%;
  position:absolute;
  left: 35%;
  top: 9%;
  z-index: 13; 
  }
  
#nuvem9 img {
  width:15%;
  position:absolute;
  left: 35%;
  top: 6%;
  z-index: 12; 
  }
  
#nuvem10 img {
  width:15%;
  position:absolute;
  left: 35%;
  top: 13%;
  z-index: 11; 
  }
  
#nuvem11 img {
  width:10%;
  position:absolute;
  left: 35%;
  top: 13%;
  z-index: 10; 
  }
  
#nuvem12 img {
  width:10%;
  position:absolute;
  left: 33%;
  top: 4%;
  z-index: 9; 
  }
  
#nuvem13 img {
  width:10%;
  position:absolute;
  left: 32%;
  top: 3%;
  z-index: 8; 
  }
  
#nuvem14 img {
  width:13%;
  position:absolute;
  left: 25%;
  top: 2%;
  z-index: 7; 
  }
  
#nuvem15 img {
  width:13%;
  position:absolute;
  left: 21%;
  top: 1%;
  z-index: 6; 
  }
  
#nuvem16 img {
  width:10%;
  position:absolute;
  left: 22%;
  top: 1%;
  z-index: 5; 
  }
  
#nuvem17 img {
  width:10%;
  position:absolute;
  left: 18%;
  top: 1%;
  z-index: 4; 
  }
  
#nuvem18 img {
  width:13%;
  position:absolute;
  left: 14%;
  top: 1%;
  z-index: 1; 
  }
  
#nuvem19 img {
  width:11%;
  position:absolute;
  left: 14%;
  top: 0%;
  z-index: 2; 
  }
  
#nuvem20 img {
  width:10%;
  position:absolute;
  left: 14%;
  top: 0%;
  z-index: 1; 
  }

@media(max-width:500px){
  #firstImage {
    width: 100%;
    position: absolute;
    top: 65%; 
    left: 50%;
    transform: translate(-50%,-50%);
       
 }

 #folhaLouro img {
      display: none;
}

 .box{
   top: 15%; 
   left: 50%;
   transform: translate(-50%,-15%);
}
   .click-me{
     display: block;
     width: 80px;
     height: 40px;
     border: 1px solid #26a65b;
     background-color: rosybrown;
     color: white;
     text-align: center;
     font-size: max(12px, 1vw);
     line-height: 300%;
     border-radius: 3px;
     cursor: pointer;
     transition: .5s;
     border-radius: 50%;
     position: absolute;
     left: 55%;
     top: 50%;
     z-index: -1; /*essa merdinha aqui foi o q deu trabalho*/
   }
   .content{
    width: 300px; /*aqui muda o tamanho do pop up*/
    height: 525px;
    
  }
  .text p{
    font-size: max(15px,1vw);

  } 

  
 .click-me2{
   display: block;
   width: 80px;
   height: 40px;
   border: 1px solid #26a65b;
   background-color: rosybrown;
   color: white;
   text-align: center;
   font-size: max(12px, 1vw);
   line-height: 300%;
   border-radius: 3px;
   cursor: pointer;
   transition: .5s;
   border-radius: 50%;
   position: absolute;
   left: 25%;
   top: 50%;
   z-index: -1; /*essa merdinha aqui foi o q deu trabalho*/
}
.content2{
  width: 250px; /*aqui muda o tamanho do pop up*/
  height: 250px;
}
#location {
  right: 5%;
  top: 91%;
}
} 